body {
  background-color: rgb(24 23 31);
  font-family: Poppins, sans-serif;
  width: 100vw;
  min-height: 100vh;
  margin: 0 1rem;
}

body > div.inner {
  min-height: 100vh;
  color: rgb(255 254 255);
}

@media (min-width: 440px) { 
  body > div.inner {
    display: flex;
    align-items: center;    
    justify-content: center;
  }
}

pre {
  overflow-x: auto;
  font-size: 0.8rem;
}

flippable-card {
  width: calc(100% - 2em);
  margin: 0 1em;
}

@media (min-width: 440px) { 
  flippable-card {
    width: 400px;
  }
}


flippable-card img {
  border-radius: 0.3rem;
  margin: 1rem 0;
}

flippable-card [slot] {
  padding: 1em;
  background: linear-gradient(#37363c, rgb(42 41 48));
  border-radius: 0.3rem;
}

flippable-card [slot="back"] {
  min-height: 100%;
}

flippable-card[flip-direction="vertical"] [slot="back"] {
  display: flex;
  align-items: center;
  text-align: center;
}
